.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.levelboard {
  display: flex;
  flex-wrap: wrap;
  width: 700px;
  height: 50px;
  padding: 0 0.5rem;
  background-color: rgb(220 220 220);
}

.first {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 30px;
  padding: 0 0.5rem;
  margin-top: 10px;
  margin-right: 10px;
  background-color: rgb(180 180 180);
}

.second {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 30px;
  padding: 0 0.5rem;
  margin-top: 10px;
  margin-right: 10px;
  background-color: rgb(180 180 180);
}

.therd {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 30px;
  padding: 0 0.5rem;
  margin-top: 10px;
  margin-right: 10px;
  background-color: rgb(180 180 180);
}

.costom {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 30px;
  padding: 0 0.5rem;
  margin-top: 10px;
  margin-right: 10px;
  background-color: rgb(180 180 180);
}

.update {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 30px;
  padding: 0 0.5rem;
  margin-top: 10px;
  margin-left: 20px;
  background-color: rgb(180 180 180);
}

.board {
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 450px;
  padding: 0 0.5rem;
  background-color: rgb(200 200 200);
}

.timer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 132px;
  height: 70px;
  margin-top: 10px;
  font-size: 40px;
  color: red;
  background-color: rgb(160 160 160);
  border: 2px solid black;
}

.bombnumber {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 132px;
  height: 70px;
  margin-top: 10px;
  margin-right: 10px;
  font-size: 40px;
  color: red;
  background-color: rgb(160 160 160);
  border: 2px solid black;
}

.face {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  margin-top: 20px;
  margin-right: 10px;
  background-color: rgb(180 180 180);

  /* border: 2px solid black; */
}

.newboard {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 333px;
  height: 333px;
  background-color: rgb(200 200 200);
}

.cell {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 37px;
  height: 37px;
  background-color: rgb(160 160 160);
  border: 0.5px solid rgb(0 0 0);
}

.stone {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 37px;
  height: 37px;
  background-color: rgb(190 190 190);

  /* border: 10.5px solid rgb(0 0 0); */
}

.sampleStyle {
  width: 30px;
  height: 30px;
  background: url('~/src/assets/images/icons.png') no-repeat;
}
